* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #c6e7f7;
  display: flex;
  gap: 3em;
  width: 100%;
  font-size: 1.5em;
  padding: 1rem;
}
section {
  margin-top: 1rem;
  padding: 1rem;
}

#about,
#experience,
#skills,
#projects,
#connect {
  scroll-margin-top: 100px;
}
a {
  color: black;
}
a:hover {
  opacity: 0.4;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #bdeaff;
}

#name {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.5rem;
  padding-top: 0.25em;
  margin: 0;
  display: flex;
  align-items: center;
}
h2 {
  text-align: justify;
  color: rgb(97, 4, 77);
  font-size: 1.7em;
}
body {
  background-color: rgb(237, 245, 245);
  color: rgb(2, 2, 87);
  padding-top: 4rem;
  font-family: "Times New Roman", Times, serif;
  height: 90vh;
  margin: 0;
}

#About {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
}

#name img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: flex;
}

#skills {
  font-size: 20px;
  gap: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 200;
  background-color: #c6e7f7;
  color: rgb(44, 46, 47);
  padding: 5px;
  border-radius: 0.6em;
  border: solid 1px #7dbddb;
}
.grid-item div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h3 {
  margin: 5px 0;
}
#Connect ul li {
  padding: 20px;
  border: solid 1px #7dbddb;
  color: aliceblue;
  background-color: #c6e7f7;
  margin: 10px 0 0 0;
  border-radius: 0.6em;
  text-align: inherit;
}
#Connect ul li img {
  width: 25px;
  display: table-column;
  margin: 15px 8px 0 0;
}
#Connect ul {
  display: flex;
  gap: 10px;
}
ul {
  list-style: none;
  padding: 0;
}
.message-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
#messageForm label {
  font-size: 40px;
}
.edit-message-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
button {
  background-color: #c6e7f7;
  border-radius: 0.6em;
}
.message-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
footer {
  padding: 5px;
}
#mobile-menu-button {
  display: none;
  height: 2rem;
  width: 3rem;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.hidden {
  display: none;
}

header svg {
  height: 100%;
  width: 100%;
}
header svg path {
  color: rgb(11, 7, 7);
}
header svg line {
  stroke: rgb(11, 7, 7);
}

@media screen and (max-width: 650px) {
  #mobile-menu-button {
    display: inline;
  }
  nav {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }
  body {
    background-color: rgb(233, 247, 247);
    padding-top: 4rem;
  }
  .mobile-hidden {
    display: none;
  }
}
